<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9670640855-cu393off2b2iptn9dvp98b96u65qrvhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9670640855-cu393off2b2iptn9dvp98b96u65qrvhq</string>
	<key>API_KEY</key>
	<string>AIzaSyA6mD7iR10X-q96HC5q5lS9NRFQaRHgia4</string>
	<key>GCM_SENDER_ID</key>
	<string>9670640855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MK.MikhailKirzhnerUI.VK</string>
	<key>PROJECT_ID</key>
	<string>my-project-29561-272208</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-29561-272208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9670640855:ios:5c38279ba393337b04dc92</string>
</dict>
</plist>